<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Page de modification et de suppression des utilisateurs du site" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">

    <title>supprimer ou modifier un utilisateur</title>
</head>
<body>
    {% include 'commons/header.html.twig' %}
    <main class="mainRoles {% if is_granted('ROLE_ADMIN') %}adminMainHomePage{% else %}mainHomePage{% endif %} mainTranscriptions">
        <table>
            <h1>Supprimer ou modifier un utilisateur</h1>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="textWhite userModify changeHideTwo">{{ user.username }}</td>
                    <td class="textWhite userModify">{{ user.email }}</td>
                    <td class="textWhite userModify changeHideTwo">{{ user.roles[0] }}</td>
                    <td>
                        <form action="{{ path('adminModifyRoleUser') }}" method="post">
                            <input type="text" value="{{ user.id }}" hidden name="userId">
                            <input type="submit" {% if user.roles == ['ROLE_ADMIN'] %}value="Passer user" class="green" {% else %}value="Passer admin" class="orange"{% endif %}>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('adminDeleteUser') }}" method="post">
                            <input type="text" value="{{ user.id }}" hidden name="userId">
                            <input class="red textWhite" type="submit" value="supprimer" onclick="return confirm('Etes vous certain de vouloir supprimer ce compte?');">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% include 'commons/footer.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}
<script async src="{{ asset('assets/js/scriptAdmin.js') }}"></script>
{% endif %}
<script async src="{{ asset('assets/js/scriptUser.js') }}"></script>
</body>
</html>