<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">

    <title>Nouveau cours</title>
</head>
<body>
{% include 'commons/header.html.twig' %}
<main class="mainCategory {% if is_granted('ROLE_ADMIN') %}adminMainHomePage{% else %}mainHomePage{% endif %} mainTranscriptions">
        {% block body %}
            <h1>Ajouter une catégorie</h1>
            {{ form(categoryForm) }}
            <h2>Liste des catégories existantes</h2>
            <ul>
            {% for category in categories %}
                {% if category.name %}
                    <li>
                        <span class="textWhite">{{ category.name }} : </span>
                        <a href="{{ path('updateCategory', {'id':category.id}) }}" class="orange textWhite">modifier</a>
                        <a href="{{ path('deleteCategory', {'id':category.id}) }}" class="red textWhite">supprimer</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endblock %}
    </main>
{% include 'commons/footer.html.twig' %}
</body>
{% if is_granted('ROLE_ADMIN') %}
<script async src="{{ asset('assets/js/scriptAdmin.js') }}"></script>
{% endif %}
<script async src="{{ asset('assets/js/scriptUser.js') }}"></script>
</html>