<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Page d'ajout ou de modifictaion de transcription musicale de batterie" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
    <title>Nouvelle transcription</title>
</head>
<body>
    {% include 'commons/header.html.twig' %}
    <main class="mainAddTranscription {% if is_granted('ROLE_ADMIN') %}adminMainHomePage{% else %}mainHomePage{% endif %} mainTranscriptions">
        {% block body %}
            <h1>Ajouter une transcription</h1>
            {{ form(transcriptionForm) }}
        {% endblock %}
    </main>
    {% include 'commons/footer.html.twig' %}
    {% if is_granted('ROLE_ADMIN') %}
    <script async src="{{ asset('assets/js/scriptAdmin.js') }}"></script>
    {% endif %}
    <script async src="{{ asset('assets/js/scriptUser.js') }}"></script>
</body>
</html>