<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
        <title>Transcription et video</title>
    </head>
    <body>
        {% include 'commons/header.html.twig' %}
        <main class="mainVideo {% if is_granted('ROLE_ADMIN') %}adminMainHomePage{% else %}mainHomePage{% endif %}">
                {% block body %}
                    <embed src="{{ asset('assets/data/pdf/uploadTranscriptions/'~transcription.pdfFile) }}"/>
                    <iframe class="pdfContainer" width="600" height="400" src="{{ asset('assets/data/pdf/uploadTranscriptions/'~transcription.pdfFile) }}" frameborder="0"></iframe>

                    <iframe class="videoContainer" width="600" height="400" src="https://www.youtube.com/embed/{{ transcription.mediaLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endblock %}
            </main>
        {% include 'commons/footer.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
        <script async src="{{ asset('assets/js/scriptAdmin.js') }}"></script>
        {% endif %}
        <script async src="{{ asset('assets/js/scriptUser.js') }}"></script>
    </body>
</html>